

/* ------------------- Html & Body ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

html { font-size: 100%; height: 100%;  box-sizing: border-box;}

body { height: 100% }

a {text-decoration: none; color: #342E37;}

/*------------------- FLEX LAYOUT ------------------------------------ */
/* --------------------------------------------------------------------------------------------------------------------------------- */

 .toggle {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 5;
    cursor: pointer; }


#sidebartoggler {
    }

    #sidebartoggler:not(:checked) + .reveal-wrapper .toggle {

    	height: 2rem;
        width: 100%;
        background-image: url("../assets/img/close.svg");
        background-repeat: no-repeat;
        position: fixed;
        top: 2rem;
        left: 2rem;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

    }


      #sidebartoggler:checked + .reveal-wrapper .toggle {
         
        height: 2rem;
        width: 100%;
        background-image: url("../assets/img/bars-black.svg");
        background-repeat: no-repeat;
        position: fixed;
        top: 2rem;
        left: 2rem;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        
      }



.flex-body {
	display: flex;
	flex-direction: column;
}

.flex-header {
	height: 80vh;
	flex: none;
	position: relative;
}



.flex-header-banner {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 99;
	transition: 1s ease-in-out;

}

.flex-header-banner-fixed {
	background: rgba(0, 0, 0, 0.8);


}

.flex-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	overflow: hidden;
	flex: 1;

}



/* Divs */
/* --------------------------------------------------------------------------------------------------------------------------------- */



.text-box {
	margin: auto;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120vh;
	width: 100%;

}

.text {
	  margin: auto;
	  position: absolute;
	  top: 75%; left: 50%;
	  -webkit-transform: translate(-50%,-50%);
	      -ms-transform: translate(-50%,-50%);
	          transform: translate(-50%,-50%);
	font-family: Didot;
	color: #ECF0F1;
	z-index: 2;
	text-align: center;
}

.text p {
	margin: 0 auto;
	padding: 0
}



#slide-1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20rem;
	align-items: center;
	justify-content: center;
	position: relative;
}

#interactive-hook {
	height: 40vh;
	width: 50vw;
	background-color: grey;
	padding: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 5rem;
	color: aquamarine;
	font-size: 4rem;
	text-transform: uppercase;
}

#yellow-box {
	background-color: #FBAE17;
	height: 50vh;
	width: 120%;
	 transform: rotate(-10deg);
	 z-index: -5;
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin-top: -20vh;
}

#purple-box {
	background-color: #7F47DD;
	height: 50vh;
	width: 120%;
	 transform: rotate(-10deg);
	 z-index: -1;
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin-top: -20vh;
}

#blue-box {
	background-color: #29ABE2;
	height: 50vh;
	width: 120%;
	 transform: rotate(-10deg);
	 z-index: -1;
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin-top: -20vh;
}

#pink-box {
	background-color: pink;
	height: 50vh;
	width: 120%;
	 transform: rotate(-10deg);
	 z-index: -1;
	 position: absolute;
	 left: 0;
	 right: 0;
	 margin-top: -20vh;
}

#slide-2 {
	display: flex;
	flex-direction: column;
	background-color: #FBAE17;
		padding: 5rem 10rem;
}

#slide-3 {
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

#slide-3 .video-frame,#slide-3 .video-buttons{
		max-width: 75%;
}


#slide-4 {
	background: #7F47DD;
	padding: 0 20rem;
	min-height: 50vh;
}

#slide-5 {
	height: 100%;
	background: #EFEFEF;
	padding: 0 20rem;
}

#slide-6 {
	min-height: 40vh;
	min-width: 100vw;
	position: relative;

}

#glitch-video-frame {
  position: absolute;
  bottom: 0; 
  right: 0;
  top: 0;
  left: 0;
  z-index: -1000; 
  overflow: hidden;
  width: 100%;
  height: auto;

}


#slide-7 {
	margin-top: 40rem;
	height: 100%;
	padding: 0 20rem;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#slide-7 .video-frame,#slide-7 .video-buttons{
		max-width: 75%;
}


#slide-8 {
	background: #29ABE2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20rem;
	align-items: center;
	justify-content: center;
	position: relative;

}





#slide-9 {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20rem;
	align-items: center;
	justify-content: center;
	margin-top: 10rem;
	position: relative;
	width: 100%;
}

#slide-9 .video-frame,#slide-9 .video-buttons{
		max-width: 75%;
}




#slide-10 {
	
	background: pink;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 20rem;
	align-items: center;
	justify-content: center;

}




/* ------------------- Footer ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

.flex-footer {
	flex: none;
	background: #303333;
	z-index: -2;
	position: relative;
	padding: 4rem;
}

.flex-footer ul {
	position: fixed;
	bottom: 0;
}

.footer-credits {
	color: #B3B3B3;
	width: 100%;
	right: 5rem;
	position: fixed;
	bottom: 0;
	z-index: -5;
	padding: 2rem;
	text-align: right;

}


.footer-social ul {
	visibility: hidden;
	padding: 1rem;
	left: 4rem;
	list-style: none;
	z-index: -5;

}

.footer-social a {
	color: #B3B3B3;
}

.hidden {
	 visibility: hidden; 
}

/* ---------- HEADER NAVIGATION ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
  cursor:pointer;
  position:fixed;
  top: 0;
  right: 0;
  margin: 1rem 2rem;
  background: url(../assets/img/menu-white.svg) no-repeat;
  background-size: cover;
  height: 5rem;
  width: 5rem;
  z-index: 99;
}

.nav-mobile svg {
	width: 100%;
	height: 100%;
}

.nav-mobile-close {
	visibility: hidden;
  cursor:pointer;
  position:fixed;
  top: 0;
  right: 0;
  margin: 3rem 2rem;
  background: url(../assets/img/close-white.svg) no-repeat;
  background-size: cover;
  height: 1rem;
  width: 1rem;
  z-index: 99;
}

.nav-mobile svg {
	width: 100%;
	height: 100%;
}




.header-titles {
	flex-grow: 1; 
	padding-left: 2rem;
	z-index: 5;
	line-height: 0.5rem;
}

.header-titles h1 {
	color: white;
	padding-left: 1rem;

}

.header-titles h1:hover {
  color: white;
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.header-titles h5 {
	color: #FCFCFC;
	font-family: Didot;
	font-size: 2rem;
	padding-left: 1rem;
	color: #ECF0F1;
	letter-spacing: 0.7rem;
}

.header-titles h5:hover {
  color: white;
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}



.header-nav {
	margin: 0;
	padding: 0 3rem;
	line-height: 1rem;
	text-align: center;
}

.header-nav li {
	display: inline-block;
	list-style: none;
	padding: 3rem 0rem;
	margin: 0;
}

.header-nav a {
  color: #FCFCFC;
  font-size: 1.2rem;
  z-index: 6;
  transition: 0.4s;
  text-decoration: none;
  	padding: 3rem 3rem;
  margin: 0;
}

.header-nav li a:hover {
   background-color: #ffffff;
  color: #EEA200;
  padding: 3rem 3rem;
}






/* ------ SIDEBAR NAVIGATION ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

#flex-nav {
	float: left;
	z-index: 2;
	display: none;
	
}

.flex-nav-list {
	background-color: rgba(48,51,51,0.3);
	height: 100%;
}

.flex-nav-fixed {
  top: 0;
  left: 0.95rem;
  position: fixed;
  z-index: 2;
  background-color: rgba(48,51,51,0.3);
  display: none;

}

.flex-nav-fixed ul {
  text-align: center;
  z-index: 2;


}

#flex-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.2rem;
	font-family: Didot;
	text-align: center;
	display: inline-block;

}

#flex-nav li {
	padding: 3rem;
	margin: 0;
	text-decoration: none;

}

#flex-nav li:hover {
	background: #5FC3E4;

}

#flex-nav li a:hover { 
	color: #steelblue;
}

.flex-aside { 
	background: white;
}



.flex-content p {
	color: #342E37;
}

.flex-content {
}


.reveal-wrapper {	
	padding-bottom: -4rem;
	/*border: 1rem solid transparent;
	  -moz-border-image: -moz-linear-gradient(top left, #E55D87 0%, #5FC3E4 100%);
	  -webkit-border-image: -webkit-linear-gradient(top left, #E55D87 0%, #5FC3E4 100%);
	  border-image: linear-gradient(to bottom right, #E55D87 0%, #5FC3E4 100%);
	border-image-slice: 1;
	*/
	z-index: 50;
	margin-top: 20vh;
}

.active {
   	color: grey;
}

/* ------------------- Fonts ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: Didot;
  src: url('assets/fonts/Didot.ttc');
  src: local('assets/fonts/Didot.ttc'), url('../assets/fonts/Didot.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Brandon;
  src: url('assets/fonts/Didot.ttc');
  src: local('assets/fonts/Brandon_reg.otf'), url('../assets/fonts/Brandon_reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


h1 {
	font-family: Didot;
	font-size: 5rem;
	color: #ECF0F1;
	letter-spacing: 0.7rem;
}	

h2 {
	font-family: Didot;
	font-size: 3.5rem;
	letter-spacing: 0.7rem;
	color: white;
	text-align: center;
}

h3 {
	font-family: Didot;
	font-size: 5rem;
	color: #ECF0F1;
	color: #342E37;
	line-height: 3rem;
	text-indent: 2rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1rem;
	padding: 2rem;
	margin-top: 2rem;
	font-weight: 700;
	line-height: 5rem;
}

/* Graph Titles */

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 1.3rem;
	color: #342E37;
	font-style: italic;
	font-weight: 400;
}

h5 {
	font-family: Didot;
	font-size: 5rem;
	color: #ECF0F1;
	letter-spacing: 0.7rem;
}
/* Sources & Footnotes */

h6 {
	color: white;
	text-align: right;
	font-size: 0.8rem;
	font-family: Brandon, 'Open Sans', sans-serif;

}

/* Body Text */

p {
	font-family: Brandon, 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: #ECF0F1;
	text-indent: 3rem;
	text-align: center;
	letter-spacing: 0.1rem;

}

/* ------------------- Video ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */


.video-container{
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.landing {
	  width: 100vw;
  height: 100vh;
  position: absolute;
    object-fit : cover;


}


.video-frame {
	margin: 0 auto;
	width: 100%;
	z-index: 5;
	-webkit-box-shadow: 0px -1px 58px -6px rgba(0,0,0,0.77);
-moz-box-shadow: 0px -1px 58px -6px rgba(0,0,0,0.77);
box-shadow: 0px -1px 58px -6px rgba(0,0,0,0.77);
}

/* ------------------- Modal ------------------- */
/* ----------------------------------------------------------------------------------------*/

.overlay {
  position: absolute;
  background: rgba(248, 217, 2, 0.95);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out; }
  .overlay.is-open {
    opacity: 1;
    pointer-events: auto; }
    .overlay.is-open .modal {
      transform: translate(0px, 0px); }

.modal {
	z-index: 99;
  transform: translate(0px, -100px);
  transition: all 500ms cubic-bezier(0.25, 0.35, 0, 1.74);
  max-width: 600px;
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  position: relative; }
  .modal .close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out; }
    .modal .close-btn:hover {
      transform: scale(1.2); }
  .modal .data-box {
    max-width: 50%; }
    .modal .data-box .lead {
      color: black;
      font-size: 30px;
      line-height: 1.3; }
    .modal .data-box p {
      color: #999;
      font-size: 18px; }


/* ------------------- Buttons ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

.btn {
	width: 50%;
	  margin: auto;
	  position: absolute;
	  top: 90%; left: 50%;
	  -webkit-transform: translate(-50%,-50%);
	      -ms-transform: translate(-50%,-50%);
	          transform: translate(-50%,-50%);
	font-family: Didot;
	color: #ECF0F1;
	z-index: 2;
	text-align: center;
}

.btn a {
	color: #ECF0F1;
	border: solid #FCFCFC;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: rgba(0, 0, 0, 0.1);
}

.btn a:hover { background: rgba(0, 0, 0, 0.5); }

.MyButton {
	margin: 1rem;
	padding: 1rem;
	border: solid 1px black;
	background: transparent;
}

.MyButton:hover {
	background: rgba(0, 0, 0, 0.3);
}

.video-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* ------------------- Forms ------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ###### White / Pink #########*/
.cis-form {
    margin: 0 auto;
    max-width: 100%
    background: #FFF;
    padding: 5rem;
    font: 1rem Didot;
    color: #666;
}

.cis-form input[type="text"]{
    color: #555;
    width: 70%;
    padding: 0.5rem 3rem;
    margin: 1rem;
    border: 1px solid #e5e5e5;
}

.cis-form .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height: 3rem;
    line-height: 30px;
    width: 6rem;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #c70067;
    float: right;
    margin-top: -3.7rem;
}
.cis-form .button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
    background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
    background-color:#ef027d;
}
.cis-form .button:active {
    position:relative;
    top:1px;
}
.cis-form select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}



/* -------------- d3 Chart Styles -------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* Graph 4 */
/* --------------------------------------------------------------------------------------------------------------------------------- */

#chart-1 {
  margin: 0 auto;
  position: relative;

}

#chart-1 svg {
  height: 100%;
  width: 100%;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.legend {
     font-size: 1rem;
}
    
rect {
  cursor: pointer;                           /* NEW */
  stroke-width: 2;
}

rect.disabled {                              /* NEW */
  fill: transparent !important;              /* NEW */
}    

/* ------------------ Chart 2 ----------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */


#chart-2 {
padding: 5rem;
  position: relative;
}

#chart-2 svg {
	width: 100%;
	height: 100%;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.legend {
     font-size: 10px;
    }

.legend rect {stroke-width: 1;}

rect {
  cursor: pointer;                           /* NEW */
  stroke-width: 1;
}

rect.disabled {                              /* NEW */
  fill: transparent !important;              /* NEW */
}                                            /* NEW */

/* Graph 5 */
/* --------------------------------------------------------------------------------------------------------------------------------- */

#chart-3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

#chart-3 svg{
  width: 100%;
  height: 100%;
}

.axis text {
  font: 2rem; sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #3FA9F5;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#chart-5 {
	position: relative;
}

#chart-5 svg {
	width: 100%;
	height: 100%;
}




/* ------------------- Media Queries ----------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* Large Devices, Laptops, Wide Screens */
    @media only screen and (max-width : 1400px) {

    	body {font-size: 1.6rem}
    }

    @media only screen and (max-width : 1200px) {

    	body {font-size: 1.5rem}
    }

    /* Medium Devices */
    @media only screen and (max-width : 992px) {
    	body {font-size: 1.2rem}
    	.nav-mobile {display: block;}
    	.header-titles {visibility: hidden; line-height: 0.3rem}
        .header-nav li {visibility: hidden; padding: 3rem 0rem;}
        .header-nav li a {padding: 0rem 0rem; margin: 0rem 2rem; }
  		.header-nav {visibility: hidden; padding-right: 7rem; 	display: flex;
    	flex-wrap: nowrap;}
  		.header-nav li a:hover {
		  background-color: #ffffff;
		  color: #EEA200;
		  padding: 0rem 0rem;
			}

		.header-nav li:hover {
		  background-color: #ffffff;
		  color: #EEA200;
			}


	
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 790px) {
    	body {font-size: 1rem}
    	
    	.btn {width: 100%;}
		.text p {font-size: 1.5rem; text-indent: 0;}
		.nav-mobile {transform: scale(0.7);}

		.header-nav{
    	width: 100%;
    	display: flex;

    	}

		.header-nav li a {
		display: block;
		padding: 0rem 0rem;
		font-size: 1rem;}
    }


    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 480px) {
    	body {font-size: 0.8rem}

    	.nav-mobile {transform: scale(0.7);}
    	.btn {width: 100%}
    	.btn a {font-size: 1rem;}

    	.header-nav{

    	margin: 0 auto;
    	padding: 0;
    	display: flex;
    	flex-direction: column;
    	width: 100%;
    	justify-content: center;

    	}
    
    	.header-titles {display: none;}

    	.header-nav li {
		background: rgba(0, 0, 0, 0.8);
			padding: 1.5rem 0rem;
			margin: 0;
			width: 100%;


    	}

    	.header-nav li a {
    		padding: 0;
			margin: 0 auto;



			}

    	.header-nav li a:hover {
		  background-color: #ffffff;
		  color: #EEA200;
			}

		.header-nav li:hover {
		  background-color: #ffffff;
		  color: #EEA200;
			}



    }

    

/* ------------------------------------------------------------------------------------------------------------------------------------------- */


